.portfolio-page h3 {
  margin: 0 0 10px 0;
}

.yearly-contributions {
  border-bottom: 1px lightgray solid;
  padding-bottom: 20px;
}

.yearly-contributions .donation-schedule-amount {
  margin-left: 15px;
}

.donation-schedule-amount {
  color: green;
  white-space: nowrap;
}

.donation-schedule-amount .recurrence {
  font-size: 10pt;
}

.donation-schedule {
  display: flex;
  justify-content: space-between;
  font-size: 13pt;
  align-items: center;
  padding: 0 15px;
}

.donation-schedule h4 {
  font-weight: normal;
  margin: 5px 0;
}

.donation-schedule-amount {
  font-size: 15pt;
}

.schedule-form-wrapper {
  margin-top: 20px;
}
