header {
  padding: 0;
  background-color: lightgreen;
  height: 50px;
  box-shadow: black 0 -1px 5px;
}

.header-upper {
  display: flex;
  align-items: center;
}

.header-upper > h1 {
  margin: 0px 10px;
  font-family: satisfy;
  font-weight: normal;
  font-size: 1.7rem;
}

.profile-link {
  height: 30px;
  padding: 10px;
  text-decoration: none;
  color: #333333;
  display: flex;
  align-items: center;
}

.profile-link img {
  height: 100%;
  margin: 10px;
}

nav {
  flex-grow: 1;
}

nav > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0;
}

nav a {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  color: black;
  text-decoration: none;
  display: block;
  border-bottom: transparent 5px solid;
  box-sizing: border-box;
}


nav li.active a {
  border-color: #33aa33;
}
