header {
  padding: 0;
  background-color: #222522;
}

.header-upper {
  color: #bbb;
  display: flex;
  align-items: center;
}

.header-upper > h1 {
  flex-grow: 1;
  margin: 15px;
}

.profile-link {
  height: 30px;
  padding: 10px;
  text-decoration: none;
  color: lightgray;
  display: flex;
  align-items: center;
}

.profile-link img {
  height: 100%;
  margin: 10px;
}

nav > ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 0;
}

nav a {
  padding: 10px 20px;
  color: lightgray;
  text-decoration: none;
  display: block;
  border-bottom: transparent 5px solid;

}


nav li.active a {
  color: white;
  border-color: #33aa33;
}

article {
  padding: 0 20px;
}
