.dropdown-wrapper {
  position: relative;
  border-radius: 4px;
}

.dropdown-wrapper.dropdown-open {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

.dropdown-child-container {
  position: relative;
  z-index: 1;
  border: 1px solid transparent;
  cursor: pointer;
}

.dropdown-wrapper.dropdown-open > .dropdown-child-container {
  border-radius: 4px 4px 0 0;
  background-color: white;
  
}

.dropdown {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  border-width: 1px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 4px 0 4px 4px;
  overflow: hidden;
  min-width: 200px;
}

.dropdown-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-link:hover {
  background-color: lightgray;
}
